### app dependencies ###
fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib
bcrypt==4.0.1
email-validator
pandas
reportlab
python-dotenv
#psycopg[async]
# asyncpg
### test dependencies ###
pytest
pytest-asyncio
httpx